!!!
%html
%head
	%title Forum
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
	= csrf_meta_tags 
%body
	%header
		.wrapper
			#logo
				%p Chat Easy
	.wrapper
		%p.notice= notice
		%p.alert= alert
	.wrapper
		=yield
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 
	=yield :footer