!!!
%html
%head
	%title Chat Easy
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
	%meta{name: "viewport", content: "initial-scale=1.0, maximum-scale=1.0, width=device-width"}
	= csrf_meta_tags 
%body
	= render 'layouts/header'
	= yield
	.footer
	= include_gon
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 
	= yield :footer